<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667469287647-c2mm0tf5cp5sf06eq057ematpoi4b835.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667469287647-c2mm0tf5cp5sf06eq057ematpoi4b835</string>
	<key>API_KEY</key>
	<string>AIzaSyBuPx8Y3mBrdklxYRvjdqWaGDEMNbyocFI</string>
	<key>GCM_SENDER_ID</key>
	<string>667469287647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobApp</string>
	<key>PROJECT_ID</key>
	<string>jobsheetapp-e2734</string>
	<key>STORAGE_BUCKET</key>
	<string>jobsheetapp-e2734.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667469287647:ios:8b19536df4c9f90411996a</string>
</dict>
</plist>